.time {
    color: #E5E7EA;
    font-family: 'Mulish', sans-serif;
    font-size: 1.4rem;
}

.digits {
    font-size: 4rem;
    align-items: baseline;
}

.digits-sm {
    font-size: 2rem;
    font-weight: 600;
    opacity: 80%;
}

.time-digits {
    font-weight: 500;
}

.light {
    font-weight: 200;
}

.seconds {
    opacity: 30%;
}

.seconds-switch {
    animation: secondsSwitch 150ms ease-in-out;
}

@keyframes secondsSwitch {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
    1000% {
        opacity: 100%;
    }
}

[data-width="digits"] {
    display: inline-block;
    width: 40px;
}

.day {
    font-weight: 700;
    color: #58eff7;
    opacity: 65%;
}

.date-box {
    display: flex;
    align-items: center;
    place-content: center;
    background-color: #07777d;
    border-radius: 6px;
    flex-direction: row;
    padding: 0 6px;
}

.date {
    font-size: 1rem;
}

.ampm {
    justify-self: flex-end;
}