.tab-header li {
    font-size: 1rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
}

li.active,
.tab-header li.active:hover {
    font-weight: 900;
    background-color: #07777d;
    box-shadow: 0 0 14px #07777d89;
    z-index: 20;
    box-sizing: border-box;
}

.tabs-main {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: rgba(18, 18, 18, 0.75);
    border-radius: 8px;
}

.tab-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 12%);
    box-sizing: border-box;
    overflow: hidden;
}

.tab-header li {
    flex-grow: 1;
    padding: .4em 1em .4em 1em;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.tab-header li:hover {
    background-color: #0450549e;;
    cursor: pointer;
}

.tab-content,  .tab-content > article {
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}