#root {
    background-color: #292929;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, p, li, a, article {
    color: #e5e7ea;
    z-index: 10;
}

h1 {
    font-family: 'Mulish', sans-serif;
    color: #e5e7ea6b;
    font-size: 2.3rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

p, section {
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
}

h2 {
    font-family: 'Mulish', sans-serif;
    font-size: 2rem;
}

h3 {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}

h4 {
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    font-size: 1.4rem;
}

.grid-12-col {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}


.span-6-center {
    grid-column: 4 / span 6;
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
    width: minmax(fit-content, 400px);
}

.container h3, h4 {
    padding: 0.5rem 0 0.5rem 0;
}

.grid-2-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.grid-auto-1fr-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.span-2-row {
    grid-row: 1 / span 2;
}

.span-2-col {
    grid-column: 1 / span 2;
}

.container {
    background-color: rgba(18, 18, 18, 0.75);
    border-radius: 8px;
    padding: 2rem;
    box-sizing: border-box;
    box-shadow: 0 0 24px rgba(18, 18, 18, 0.75);
}

.app {
    padding-bottom: 5rem;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.end {
    align-items: flex-end;
}

.left {
    align-items: flex-start;
}

.right {
    align-items: flex-end;
}

.gap-0-6 {
    gap: 0.6rem;
}

.gap-1 {
    gap: 1rem;
}
.gap-2 {
    gap: 2rem;
}
.col-gap-4 {
    column-gap: 4rem;
}

.col-gap-2 {
    column-gap: 2rem;
}

.space-between {
    justify-content: space-between;
}

.grid-col-1 {
    grid-column: 1 / span 1;
}
.grid-col-2 {
    grid-column: 2 / span 1;
}

.grid-row-1 {
    grid-row: 1 / span 1;
}
.grid-row-2 {
    grid-row: 2 / span 1;
}

[data-height="10"] {
    height: 10px;
}
[data-height="1rem"] {
    display: block;
    height: 1rem;
    width: 100%;
}