.main-temp {
  font-size: 2rem;
}

.weather {
  color: #E5E7EA;
  font-family: 'Mulish', sans-serif;
}

.weather-content {
  animation: fadeIn 1s ease-in-out;
}

.weather .container {
  grid-template-rows: auto 1fr;
}

.top-info {
  grid-row: 1 / span 1;
}

.weather-container {
  padding-top: 2rem;
  height: 100%;
  white-space: nowrap;
}

.big-temp {
  font-size: 4rem;
  font-weight: 400;
  text-shadow: 0 5px 8px rgba(3, 3, 3, 0.746);
}

.description, .location {
  align-items: center;
  place-content: center;
  text-align: center;
}

.description {
  font-size: 1.5rem;
  font-weight: 300;
}

.sm-title {
  font-size: .8rem;
  opacity: 0.8;
  font-style: italic;
  color: #58eff7;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 6px;
  border-bottom: 1px solid #e5e7ea1c;
}

.wind-details {
  font-size: 0.9rem;
  font-weight: 400;
}

.labels, .location {
  opacity: 0.8;
  font-weight: 300;
}

.line-ht-1-5 {
  line-height: 1.5rem;
}

.sm-labels {
  font-size: 0.7rem;
  opacity: 0.8;
  margin-left: 4px;
  font-weight: 300;
}

.detail-stats {
  width: 100%;
  padding-top: 0.4rem;
}

.arrow {
  padding: 0.2rem;
  width: 70px;
  transform: all 300ms ease-in;
}

.wind-wrapper {
  padding-top: 1rem;
  height: 92px;
  width: 100%;
}


.title-col {
  height: 15px;
  width: 100%;
}

.weather-icon {
  width: 50px;
}

.wind.grid-auto-1fr-col {
  grid-template-columns: auto auto;
  justify-items: end;
}